{% include "_header.html" %}
{% include "_nav.html" %}

<main id="signup">
    <h1>{{ getattr(languages, lan+'_signup_button', 'Signup') }}</h1>
    <h1 class="error-messages">
        {{ error_message }}
    </h1>

    <form action="/signup" method="POST">
        <input class="{{ user_username_error }}" name="user_username" type="text" placeholder="{{ placeholders.username }}" value="{{ old_values.get('user_username', '') }}">
        <input class="{{ user_name_error }}" name="user_name" type="text" placeholder="{{ placeholders.name }}" value="{{ old_values.get('user_name', '') }}">
        <input class="{{ user_last_name_error }}" name="user_last_name" type="text" placeholder="{{ placeholders.last_name }}" value="{{ old_values.get('user_last_name', '') }}">
        <input class="{{ user_email_error }}" name="user_email" type="text" placeholder="{{ placeholders.email }}" value="{{ old_values.get('user_email', '') }}">
        <input class="{{ user_password_error }}" name="user_password" type="password" placeholder="{{ placeholders.password }}" value="{{ old_values.get('user_password', '') }}"> 
        <button>{{ placeholders.button }}</button>
    </form>

</main>
{% include "_footer.html" %}