{% include "_header.html" %}
{% include "_nav.html" %}

<main id="reset_password">

    <h1>{{ getattr(languages, lan+'_reset_password', 'Reset Password') }}</h1>

    <form action="/reset-password/{{ reset_token }}" method="POST">
        <input name="user_password" type="password" placeholder="{{ getattr(languages, lan+'_new_password', 'New password') }}" required>
        <input name="user_password_confirm" type="password" placeholder="{{ getattr(languages, lan+'_confirm_new_password', 'Confirm new password') }}" required>
        <button>{{ getattr(languages, lan+'_reset_password_button', 'Reset Password') }}</button>
    </form>

</main>

{% include "_footer.html" %}