{% include "_header.html" %}
{% include "_nav.html" %}

<main id="login">
    <h1>Login</h1>
    <h1 class="error-messages">
        {{ message }}
    </h1>

    <form action="/login" method="POST">
        <input name="user_email" type="text" placeholder="{{ getattr(languages, lan+'_user_email', 'email') }}" >
        <input name="user_password" type="password" placeholder="{{ getattr(languages, lan+'_user_password', 'password') }}">
        <button class="mt1">
            {{ getattr(languages, lan+'_login_button', 'Login') }}
        </button>
    </form>

    <a id="forgot-password" href="/forgot-password">{{ getattr(languages, lan+'_forgot_password', 'Forgot password?') }}</a>
</main>

{% include "_footer.html" %}